{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:155}}
    {% else %}
        Welcome To e-buy Store,Defining ur needs...
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{category.name}} - Circle Mart
    {% else %}
        See our New Collection - Circle Mart
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx_auto">
                <br><p><a href="{% url 'ecommerceapp:allProdCat' %}" style="color:black;font-size:16px;"><b>Our Product Collections</b></a></p>
            </div>
        </div>
    </div>
{% endif %}
<!--<div class="container">-->
<!--    <div class="row">-->
<!--    {% if category %}-->
<!--        <img src="{{category.image.url}}" alt="{{category.name}}" align="left;" height="50px;"  >-->
<!--    </div>-->
<!--    <div>-->
<!--    <h1 class="text-center my_title" style="color:#000; font-size:24px;"><b>{{category.name}}</b></h1>-->
<!--    <p style="color:#000;">{{category.description}}</p>-->
<!--    </div>-->
<!--</div>-->

<div class="card mb-3" style="max-width: 1740px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{category.image.url}}" alt="{{category.name}}" class="img-fluid rounded-start" height="500px;" width="500px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title" style="font-size:26px; text-transform:uppercase;"><b>{{category.name}}</b></h5>
        <p class="card-text">{{category.description}}</p>
      </div>
    </div>
  </div>
</div>
<br>



    {% else %}
    <div class="slideshow-container">
        <div>
        <img class="my_image my_image_padding" src="{% static 'img/bannerb2.jpg' %}" alt="our products" width="1510px;" height="300px;">
        </div>
    </div>
<br>
<!--<div>-->
<!--<div class="slideshow-container">-->

<!--  &lt;!&ndash; Full-width images with number and caption text &ndash;&gt;-->
<!--  <div class="mySlides fade">-->
<!--    <div class="numbertext">1 / 3</div>-->
<!--    <img src="static/img/bannerb1.jpg" alt="our products" style="width:100%">-->
<!--    <div class="text"></div>-->
<!--  </div>-->

<!--  <div class="mySlides fade">-->
<!--    <div class="numbertext">2 / 3</div>-->
<!--    <img src="static/img/bannerb2.jpg" alt="our products" style="width:100%">-->
<!--    <div class="text"></div>-->
<!--  </div>-->

<!--  <div class="mySlides fade">-->
<!--    <div class="numbertext">3 / 3</div>-->
<!--    <img src="static/img/bannerb3.jpg" alt="our products" style="width:100%">-->
<!--    <div class="text"></div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Next and previous buttons &ndash;&gt;-->
<!--  <a '"currentSlide()"-->
<!--  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
<!--  <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
<!--</div>-->
<!--</div>-->
<!--<br>-->

<!-- The dots/circles -->
<!--<div style="text-align:center">-->
<!--  <span class="dot" onclick="currentSlide(1)"></span>-->
<!--  <span class="dot" onclick="currentSlide(2)"></span>-->
<!--  <span class="dot" onclick="currentSlide(3)"></span>-->
<!--</div>-->
    <br>
<div>
    <h1 class="text-center my_title" style="color:#000;font-size:18px;"><b>Our Products Collections</b></h1>
    <p class="text-justify" style="color:#000;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-12 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18em;margin-top:10px;margin-bottom:10px;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"> </a>
                <div class="card_body">
                    <h4 style="font-size:20px;text_transform:uppercase;letter-spacing:.1em;">{{product.name}}</h4>
                    <p style="font-size:16px;">{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
