{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{product.description|truncatewords:155}}
{% endblock %}

{% block title %}
    {% if category %}
        {{product.name}} - Circle Mart
    {% endif %}
{% endblock %}

{% block content %}
<div>
    <div>
        <p style="color:black;"><a href="{% url 'ecommerceapp:allProdCat' %}" style="color:black;text-decoration:none;">Home</a> | <a href="{{product.category.get_url}}" style="color:black;text-decoration:none;">{{product.category}}</a> | {{product.name}}</p>
    </div>
</div>
<br>

<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <img src="{{product.image.url}}" alt="{{product.name}}" height="300px;" width="400px;">

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <h2 class="card-title">{{product.name}}</h2><br>
          <p class="card-text">${{product.description}}</p><br>
          <p class="card-text">${{product.price}}</p>
          {% if product.stock <= 0 %}
            <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
          {% else %}
            <a class="btn btn-secondary" style="background-color:08A3BE;" href="{% url 'cart_app:add_cart' product.id %}">Add to Cart</a>
      </div>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}